/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes arrowMoving {
    0% {
        transform:translateX(-20px);
    }

    50% {
        transform:translateX(-16px);
    }

    100% {
        transform:translateX(-20px);
    }
}

@keyframes fillMainBody {
    0% {
        fill: red;
    }
    
    100% {
        fill: red;
    }
}

@keyframes likeContour {
    0% {
        fill: transparent;
    }

    20% {
        fill: red;
    }

    100% {
        fill: red;
    }
}

@keyframes likeCore {
    0% {
        fill: black;
    }

    40% {
        fill: red;
    }

    100% {
        fill: red;
    }
}

@keyframes bigHeart {
    55% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.5);
    }

    65% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparks {
    60% {
        color: transparent;
    }

    80% {
        color: red;
    }

    100% {
        color: transparent;
    }
}

/*@keyframes changeRedBody {*/
/*    0% {*/
/*        fill:red;*/
/*    }*/

/*    100% {*/
/*        fill: red;*/
/*    }*/

/*    20% {*/
/*        fill: red;*/
/*    }*/

/*    100% {*/
/*        fill: red;*/
/*    }*/
/*}*/

