/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
body {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: white;
  /*указать альтеранитвный системный шрифт*/
  font-family: var(--main-font);
  color: var(--accent-color);
  background-image: var(--background-gradient-img);
  background-size: cover;
  padding-bottom: 100px;
}

button {
  border-color: transparent;
  background-color: transparent;
}

.header {
  width: clamp(375px, 48.3%, 700px);
  display: flex;
  flex-direction: column;
  padding-top: clamp(120px, 37.3%, 136px);
  align-items: center;
  margin-top: 100px;
  background-color: var(--bgd-color);
  padding-bottom: 22px;
  border: var(--element-border);
}

.main_header {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
}

.title {
  margin-top: 20px;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

.theme-menu {
  margin-top: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  text-transform: uppercase;
  transform: translateX(10%);
}

.theme-menu__button {
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 60%;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}


.theme-menu__button:disabled:before {
  position: absolute;
  animation: arrowMoving 1s ease-in-out infinite;
  content: "▶";
}

.main_content {
  width: clamp(375px, 48.3%, 700px);
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

.card {
  flex-direction: column;
  background-color: var(--bgd-color);
  border: var(--element-border);
}

.card_title {
  font-family: var(--secondary-font);
  font-weight: var(--title-card-weight);
  font-size: 18px;
  line-height: 22px;
  padding: 4px 10px 4px 10px;
  border-bottom: var(--element-border);
}

.sprint_image {
  position: relative;
}

.sprint_label {
  position: absolute;
  color: var(--accent-color);
  opacity: 50%;
  top: 25px;
  right: clamp(13px, 3.5%, 25px);
  font-size: 14px;
  text-shadow:
          -1px 0 var(--bgd-color),
          0 1px var(--bgd-color),
          1px 0 var(--bgd-color),
          0 -1px var(--bgd-color);
  -webkit-text-stroke-color: var(--bgd-color);
  mix-blend-mode: hard-light;
  z-index: 1;
}

.van {
  width: 100%;
  height: 100%;
}

.gray {
  filter: grayscale(80%) brightness(140%);

}

.saturate {
  filter: saturate(500%);
}

.hue-45 {
  filter: hue-rotate(45deg);

}
.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(1rem);
}

.hue-90 {
  filter: hue-rotate(90deg) contrast(30%);
}

.card_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: var(--secondary-font);
  font-weight: var(--text-card-weight);
  font-size: 18px;
  line-height: 21px;
  border-top: var(--element-border);
  padding: 27px 25px 17px 25px;
}

.card_description {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.card-like {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: end;
}

.card__icon-button {
  padding: 0;
}

.sparks {
  color: var(--bgd-color);
}

.like-icon .main-body {
  fill: transparent;
  transition: 0.3s 0.03s;
}

.like-icon .contour {
  fill: transparent;
  transition: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s;
}

.like-icon:hover .contour {
  fill: var(--accent-color);
  transition: 0.3s 0.05s;
}

.like-icon:active .main-body {
  fill: red;
  transition: 0.3s;
}

.like-icon:active .contour {
  fill: red;
  transition: 0.3s 0.05s;
}

.is-liked .main-body {
  animation: fillMainBody 0.3s forwards;
}

.is-liked .contour {
  animation: fillContour 0.3s 0.1s forwards;

}
.is-liked .core {
  animation: fillCore 0.3s 0.1s forwards;
}

.is-liked .heart {
  animation: bigHeart 0.3s 0.1s both ease-in;
}

.is-liked .sparks {
  animation: sparks 0.3s both;
}

.card__like-button {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: inherit;
  border: var(--element-border);
  width: 130px;
  height: 38px;
  padding: 0;
  cursor: pointer;
}

.button__text {
  position: relative;
  font-weight: 400;
  font-size:14px;
  z-index: 1;
  color: var(--btn-fill-color);
  mix-blend-mode: difference;
}

.card__like-button::before,
.footer-button::before,
.close-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--btn-fill-color);
  transform: scale(0, 1);
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-origin: 0;
  mix-blend-mode: difference;
}

.card__like-button:hover::before,
.footer-button:hover::before,
.close-button:hover::before{
  transform: scaleX(100%);
}

.card_memory {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.footer {
  align-self: center;
  position: relative;
  border: var(--element-border);
}

.footer-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  gap: 8px;
  align-items: center;
  padding: 13px 18px 13px 18px;
  background-color: var(--bgd-color);
}

.footer-button:hover {
  cursor: pointer;
}

.floppy-icon {
  width: 21px;
  height: 21px;
}

dialog {
  background-color: var(--bgd-color);
  color: var(--accent-color);
  width: 356px;
  position: fixed;
  inset: 0;
  padding: 30px 30px 30px 30px;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.save_memories_content {
  display: flex;
  flex-direction: row;
  gap:20px;
}

.memory_text {
  font-size: 14px;
  line-height: 21px;
  min-height: 100%;
  text-transform: uppercase;
}

.floppy-icon-memories {
  align-self: center;
  min-width: 40px;
  height: 40px;
}

.close-button {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: var(--element-border);
  height: 38px;
}

@media (width <= 375px) {
  .footer-button {
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  dialog{
    width: 91%;
    padding: 30px 40px 30px 40px;
  }
}
