/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --accent-color: #000000;
    --bgd-color: #FFFFFF;
    --main-font: 'Press2Start', sans-serif, monosapce;
    --secondary-font: 'Inter-Variable', sans-serif, monosapce;
    --title-card-weight: 700;
    --text-card-weight: 400;
    --element-border: 2px solid #000000;
    --btn-fill-color: #FFFFFF;
    --background-gradient-img:
            repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
    --accent-color: #00CC14;
    --bgd-color: #000000;
    --main-font: 'Press2Start', sans-serif, monosapce;
    --secondary-font: 'Inter-Variable', sans-serif, monosapce;
    --title-card-weight: 785;
    --text-card-weigth: 465;
    --element-border: 2px solid #00CC14;
    --btn-fill-color: #00CC14;
    --background-gradient-img:
            repeating-linear-gradient(to right, #000 0px, #000 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(to bottom, #000 0px, #000 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #007f0c 0%, #004306 100%);
}

@media (prefers-color-scheme: light) {
    :root {
        /* Дублируем переменные светлой темы */
        --accent-color: #000000;
        --bgd-color: #FFFFFF;
        --main-font: 'Press2Start', sans-serif, monosapce;
        --secondary-font: 'Inter-Variable', sans-serif, monosapce;
        --title-card-weight: 700;
        --text-card-weight: 400;
        --element-border: 2px solid #000000;
        --btn-fill-color: #FFFFFF;
        --background-gradient-img:
                repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
                repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
                linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    }
}